<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DocContainer" connectionString="metadata=res://*/DocModel.csdl|res://*/DocModel.ssdl|res://*/DocModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=gothic;Persist Security Info=True;database=docs;Character Set=utf8&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>